#side-bar {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.256);
  backdrop-filter: blur(12px);
  top: 0;
  left: -750px;
  z-index: 50;

  @media screen and (min-width: 746px) {
    opacity: 0;
    cursor: none;
    width: 0;
    height: 0;
  }
  @media screen and (max-width: 746px) {
    cursor: pointer;
    transition: 1s ease-in-out;
  }

  ul {
    display: block;
    font-family: $font1;
    text-transform: uppercase;
    margin: 130px 5px;
    height: 100%;

    @media screen and (min-width: 746px) {
      opacity: 0;
      cursor: none;
      width: 0;
      height: 0;
    }
  }
  li {
    padding: 40px 50px;
    color: $black1;
    list-style: none;
    font-size: 1.5rem;
  }
}
.toggle-btn {
  position: absolute;
  top: 30px;
  left: 780px;
  height: 50px;
  width: 50px;

  span {
    width: 60px;
    height: 10px;
    border-radius: 5px;
    background: $white1;
    display: block;
    margin-top: 4px;
    transition: 0.3s ease;
  }

  @media screen and (min-width: 747px) {
    opacity: 0;
  }
}
@keyframes ToggleAnim {
  to {
    transform: translateY(0);
  }
}

#side-bar.active {
  left: 0;
}
.active {
  span {
    position: absolute;
    &:nth-child(1) {
      transform: rotate(45deg);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
    }
  }
  ~ {
    .content {
      opacity: 0.3;
    }
  }
}
