@font-face {
  font-family: "inter-bold";
  src: url(../fonts/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: "merri";
  src: url(../fonts/Merriweather-Light.ttf);
}

$font1: inter-bold, sans-serif;
$font2: merri, serif;
$black1: rgb(17, 17, 17);
$white1: rgb(243, 243, 243);

@mixin title {
  font-family: $font1;
  letter-spacing: 2px;
  text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}

.home {
  a {
    color: $black1;
  }

  img {
    height: 25px;
    width: 25px;
    transform: translateY(2px);
  }

  background: url(../img/cables-microphones-fond-noir.jpg) bottom center/cover
    fixed;

  @media screen and (max-width: 900px) {
    background: url(../img/cables-microphones-fond-noir.jpg) top right/cover;
  }

  text-align: center;
  font-family: $font2;
  max-width: 1300px;
  margin: 0 auto;
  overflow: hidden;

  body {
    &:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: $black1;
      animation: animBefore 2.5s ease forwards;
      animation-delay: 0.15s;
    }

    @keyframes animBefore {
      to {
        opacity: 0;
      }
    }
  }
}
