@font-face {
  font-family: "inter-bold";
  src: url(../fonts/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: "merri";
  src: url(../fonts/Merriweather-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

a {
  color: rgb(17, 17, 17);
}

img {
  height: 25px;
  width: 25px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.home {
  background: url(../img/cables-microphones-fond-noir.jpg) bottom center/cover fixed;
  text-align: center;
  font-family: merri, serif;
  max-width: 1300px;
  margin: 0 auto;
  overflow: hidden;
}
@media screen and (max-width: 900px) {
  .home {
    background: url(../img/cables-microphones-fond-noir.jpg) top right/cover;
  }
}

body:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgb(17, 17, 17);
  -webkit-animation: animBefore 2.5s ease forwards;
          animation: animBefore 2.5s ease forwards;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
@-webkit-keyframes animBefore {
  to {
    opacity: 0;
  }
}
@keyframes animBefore {
  to {
    opacity: 0;
  }
}

header {
  color: rgb(243, 243, 243);
  position: relative;
  max-height: 100vh;
  min-height: 100vh;
}
header .headercontent {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-animation: headerAnim 1.5s forwards;
          animation: headerAnim 1.5s forwards;
}
@-webkit-keyframes headerAnim {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes headerAnim {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
header .headercontent h2 {
  font-family: inter-bold, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 6px;
}
@media screen and (max-width: 746px) {
  header .headercontent h2 {
    font-size: 2.5rem;
  }
}
header .headercontent h1 {
  font-family: inter-bold, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 3px;
  position: absolute;
  top: 20px;
}
@media screen and (max-width: 746px) {
  header .headercontent h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 583px) {
  header .headercontent h1 {
    font-size: 2rem;
    top: 700px;
  }
}
header .headercontent p {
  font-family: inter-bold, sans-serif;
  font-size: 1.25rem;
  margin-top: 150px;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-animation: headerAnim 1.5s forwards;
          animation: headerAnim 1.5s forwards;
}
@media screen and (max-width: 746px) {
  header .headercontent p {
    display: none;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(255, 255, 255, 0.253);
  color: rgb(243, 243, 243);
  width: 40%;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 30%;
}
@media screen and (max-width: 1400px) {
  nav {
    width: 50%;
    left: 25%;
  }
}
@media screen and (max-width: 914px) {
  nav {
    width: 55%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 830px) {
  nav {
    width: 60%;
  }
}
@media screen and (max-width: 770px) {
  nav {
    font-size: 1rem;
  }
}
@media screen and (max-width: 746px) {
  nav {
    display: none;
  }
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav:hover li:not(:hover) {
  background: none;
  color: rgb(243, 243, 243);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
nav li {
  font-family: inter-bold, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 0 15px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
@media screen and (max-width: 1140px) {
  nav li {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 1060px) {
  nav li {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 1000px) {
  nav li {
    font-size: 0.6rem;
  }
}
nav li:first-child {
  background: rgb(243, 243, 243);
  color: rgb(17, 17, 17);
  -webkit-transition: 2s ease;
  transition: 2s ease;
}
nav li:hover {
  background: rgb(243, 243, 243);
  color: rgb(17, 17, 17);
  -webkit-transition: 0.9s ease-in-out;
  transition: 0.9s ease-in-out;
}

#side-bar {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.256);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  top: 0;
  left: -750px;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  z-index: 50;
}
@media screen and (min-width: 746px) {
  #side-bar {
    opacity: 0;
    cursor: none;
    width: 0;
    height: 0;
  }
}
@media screen and (max-width: 746px) {
  #side-bar {
    cursor: pointer;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
}
#side-bar ul {
  display: block;
  font-family: inter-bold, sans-serif;
  text-transform: uppercase;
  margin: 130px 5px;
}
@media screen and (min-width: 746px) {
  #side-bar ul {
    opacity: 0;
    cursor: none;
    width: 0;
    height: 0;
  }
}
#side-bar li {
  padding: 40px 50px;
  color: rgb(17, 17, 17);
  list-style: none;
  font-size: 1.5rem;
}
#side-bar li:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  background: transparent;
}

.toggle-btn {
  position: absolute;
  top: 30px;
  left: 780px;
  height: 50px;
  width: 50px;
}
.toggle-btn span {
  width: 60px;
  height: 10px;
  border-radius: 5px;
  background: rgb(243, 243, 243);
  display: block;
  margin-top: 4px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media screen and (min-width: 747px) {
  .toggle-btn {
    opacity: 0;
  }
}

#side-bar.active {
  left: 0;
}

.active span {
  position: absolute;
}
.active span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.active span:nth-child(2) {
  opacity: 0;
}
.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.active ~ .content {
  opacity: 0.3;
}/*# sourceMappingURL=index.css.map */